USE [master]
GO
/****** Object:  Database [DB_YP_OrgConfTEST]    Script Date: 31.01.2026 23:00:51 ******/
CREATE DATABASE [DB_YP_OrgConfTEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_YP_OrgConf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_YP_OrgConfTEST.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_YP_OrgConf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_YP_OrgConfTEST_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_YP_OrgConfTEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_YP_OrgConfTEST]
GO
/****** Object:  Table [dbo].[Активности]    Script Date: 31.01.2026 23:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Активности](
	[ID_Активности] [int] IDENTITY(1,1) NOT NULL,
	[Активность] [nvarchar](255) NULL,
	[Мероприятие_ID] [int] NULL,
	[День] [int] NULL,
	[Время начала] [datetime] NULL,
	[Модератор_ID] [int] NULL,
	[АктивностиЖюри_ID] [int] NULL,
	[описание] [nvarchar](max) NULL,
 CONSTRAINT [PK_Активности] PRIMARY KEY CLUSTERED 
(
	[ID_Активности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[АктивностиЖюри]    Script Date: 31.01.2026 23:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[АктивностиЖюри](
	[ID_АктивностьЖюри] [int] IDENTITY(1,1) NOT NULL,
	[Активность] [nvarchar](255) NULL,
	[Жюри_1] [int] NULL,
	[Жюри_2] [int] NULL,
	[Жюри_3] [int] NULL,
	[Жюри_4] [int] NULL,
	[Жюри_5] [int] NULL,
 CONSTRAINT [PK_АктивностиЖюри] PRIMARY KEY CLUSTERED 
(
	[ID_АктивностьЖюри] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Города]    Script Date: 31.01.2026 23:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Города](
	[ID_город] [int] IDENTITY(1,1) NOT NULL,
	[город] [nvarchar](255) NULL,
 CONSTRAINT [PK_Города] PRIMARY KEY CLUSTERED 
(
	[ID_город] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Мероприятия]    Script Date: 31.01.2026 23:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Мероприятия](
	[ID_мероприятия] [int] IDENTITY(1,1) NOT NULL,
	[мероприятие] [nvarchar](255) NULL,
 CONSTRAINT [PK_Мероприятия] PRIMARY KEY CLUSTERED 
(
	[ID_мероприятия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[МероприятияИнформационнаяБезопасность]    Script Date: 31.01.2026 23:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[МероприятияИнформационнаяБезопасность](
	[ID_событие] [int] IDENTITY(1,1) NOT NULL,
	[событие] [nvarchar](255) NULL,
	[дата] [date] NULL,
	[дни] [int] NULL,
	[город] [int] NULL,
	[мероприятия_ID] [int] NULL,
	[описание] [nvarchar](max) NULL,
	[логотип] [nvarchar](500) NULL,
	[направление_ID] [int] NULL,
 CONSTRAINT [PK_МероприятияИнформационнаяБезопасность] PRIMARY KEY CLUSTERED 
(
	[ID_событие] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Направления]    Script Date: 31.01.2026 23:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Направления](
	[ID_направление] [int] IDENTITY(1,1) NOT NULL,
	[направление] [nvarchar](255) NULL,
 CONSTRAINT [PK_Направления] PRIMARY KEY CLUSTERED 
(
	[ID_направление] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 31.01.2026 23:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID_пользователи] [int] IDENTITY(1,1) NOT NULL,
	[роли_ID] [int] NULL,
	[фио] [nvarchar](255) NULL,
	[почта] [nvarchar](255) NULL,
	[дата рождения] [datetime] NULL,
	[страны_ID] [int] NULL,
	[телефон] [nvarchar](255) NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[ID_пользователи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 31.01.2026 23:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[ID_Роли] [int] IDENTITY(1,1) NOT NULL,
	[Роль] [nvarchar](255) NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[ID_Роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[РолиПользователей]    Script Date: 31.01.2026 23:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[РолиПользователей](
	[ID_РолиПользователи] [int] IDENTITY(1,1) NOT NULL,
	[пользователи_ID] [int] NULL,
	[роли_ID] [int] NULL,
	[направление_ID] [int] NULL,
	[мероприятие_ID] [int] NULL,
 CONSTRAINT [PK_РолиПользователей] PRIMARY KEY CLUSTERED 
(
	[ID_РолиПользователи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны]    Script Date: 31.01.2026 23:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны](
	[ID_Страны] [int] IDENTITY(1,1) NOT NULL,
	[Название страны] [nvarchar](255) NULL,
	[Английское название] [nvarchar](255) NULL,
	[Код] [nvarchar](255) NULL,
 CONSTRAINT [PK_Страны] PRIMARY KEY CLUSTERED 
(
	[ID_Страны] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Активности] ON 

INSERT [dbo].[Активности] ([ID_Активности], [Активность], [Мероприятие_ID], [День], [Время начала], [Модератор_ID], [АктивностиЖюри_ID], [описание]) VALUES (1, N'Лидерство в бизнесе', 3, 1, CAST(N'1899-12-30T09:00:00.000' AS DateTime), 31, 1, NULL)
INSERT [dbo].[Активности] ([ID_Активности], [Активность], [Мероприятие_ID], [День], [Время начала], [Модератор_ID], [АктивностиЖюри_ID], [описание]) VALUES (2, N'Технология принятия решений', 3, 2, CAST(N'1899-12-30T10:45:00.000' AS DateTime), 32, 2, NULL)
INSERT [dbo].[Активности] ([ID_Активности], [Активность], [Мероприятие_ID], [День], [Время начала], [Модератор_ID], [АктивностиЖюри_ID], [описание]) VALUES (3, N'Искусство коучинга', 3, 2, CAST(N'1899-12-30T12:30:00.000' AS DateTime), 33, 3, NULL)
SET IDENTITY_INSERT [dbo].[Активности] OFF
GO
SET IDENTITY_INSERT [dbo].[АктивностиЖюри] ON 

INSERT [dbo].[АктивностиЖюри] ([ID_АктивностьЖюри], [Активность], [Жюри_1], [Жюри_2], [Жюри_3], [Жюри_4], [Жюри_5]) VALUES (1, N'Лидерство в бизнесе', 52, NULL, 58, 57, 57)
INSERT [dbo].[АктивностиЖюри] ([ID_АктивностьЖюри], [Активность], [Жюри_1], [Жюри_2], [Жюри_3], [Жюри_4], [Жюри_5]) VALUES (2, N'Технология принятия решений', 53, 54, 59, 58, 58)
INSERT [dbo].[АктивностиЖюри] ([ID_АктивностьЖюри], [Активность], [Жюри_1], [Жюри_2], [Жюри_3], [Жюри_4], [Жюри_5]) VALUES (3, N'Искусство коучинга', 54, 55, NULL, 59, 59)
SET IDENTITY_INSERT [dbo].[АктивностиЖюри] OFF
GO
SET IDENTITY_INSERT [dbo].[Города] ON 

INSERT [dbo].[Города] ([ID_город], [город]) VALUES (1, N'Абаза')
INSERT [dbo].[Города] ([ID_город], [город]) VALUES (2, N'Абакан')
INSERT [dbo].[Города] ([ID_город], [город]) VALUES (3, N'Абдулино')
GO
SET IDENTITY_INSERT [dbo].[Города] OFF
GO
SET IDENTITY_INSERT [dbo].[Мероприятия] ON 

INSERT [dbo].[Мероприятия] ([ID_мероприятия], [мероприятие]) VALUES (1, N'IT в бизнесе')
INSERT [dbo].[Мероприятия] ([ID_мероприятия], [мероприятие]) VALUES (2, N'Разработка приложений')
INSERT [dbo].[Мероприятия] ([ID_мероприятия], [мероприятие]) VALUES (3, N'IT-инфраструктура')
SET IDENTITY_INSERT [dbo].[Мероприятия] OFF
GO
SET IDENTITY_INSERT [dbo].[МероприятияИнформационнаяБезопасность] ON 

INSERT [dbo].[МероприятияИнформационнаяБезопасность] ([ID_событие], [событие], [дата], [дни], [город], [мероприятия_ID], [описание], [логотип], [направление_ID]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 34, 5, NULL, NULL, 2)
INSERT [dbo].[МероприятияИнформационнаяБезопасность] ([ID_событие], [событие], [дата], [дни], [город], [мероприятия_ID], [описание], [логотип], [направление_ID]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, 34, 5, NULL, NULL, 3)
INSERT [dbo].[МероприятияИнформационнаяБезопасность] ([ID_событие], [событие], [дата], [дни], [город], [мероприятия_ID], [описание], [логотип], [направление_ID]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 2, 5, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[МероприятияИнформационнаяБезопасность] OFF
GO
SET IDENTITY_INSERT [dbo].[Направления] ON 

INSERT [dbo].[Направления] ([ID_направление], [направление]) VALUES (1, N'ИТ')
INSERT [dbo].[Направления] ([ID_направление], [направление]) VALUES (2, N'Биг Дата')
INSERT [dbo].[Направления] ([ID_направление], [направление]) VALUES (3, N'Дизайн')
SET IDENTITY_INSERT [dbo].[Направления] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([ID_пользователи], [роли_ID], [фио], [почта], [дата рождения], [страны_ID], [телефон], [пароль], [фото], [пол]) VALUES (1, 1, N'Ершова Нора Федотовна', N'techie@outlook.com', CAST(N'1987-03-26T00:00:00.000' AS DateTime), 643, N'9.60424e+009', N'tKKevv8%', N'foto60.jpg', N'женский')
INSERT [dbo].[Пользователи] ([ID_пользователи], [роли_ID], [фио], [почта], [дата рождения], [страны_ID], [телефон], [пароль], [фото], [пол]) VALUES (2, 1, N'Афанасьева Жанна Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04T00:00:00.000' AS DateTime), 643, N'9.30662e+009', N'huSfHm4$', N'foto61.jpg', N'женский')
INSERT [dbo].[Пользователи] ([ID_пользователи], [роли_ID], [фио], [почта], [дата рождения], [страны_ID], [телефон], [пароль], [фото], [пол]) VALUES (3, 1, N'Крылова Рая Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05T00:00:00.000' AS DateTime), 643, N'9.57266e+009', N'TlUwMw77%', N'foto62.jpg', N'женский')
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Роли] ON 

INSERT [dbo].[Роли] ([ID_Роли], [Роль]) VALUES (1, N'Участник')
INSERT [dbo].[Роли] ([ID_Роли], [Роль]) VALUES (2, N'Организатор')
INSERT [dbo].[Роли] ([ID_Роли], [Роль]) VALUES (3, N'Модератор')
SET IDENTITY_INSERT [dbo].[Роли] OFF
GO
SET IDENTITY_INSERT [dbo].[РолиПользователей] ON 

INSERT [dbo].[РолиПользователей] ([ID_РолиПользователи], [пользователи_ID], [роли_ID], [направление_ID], [мероприятие_ID]) VALUES (1, 1, 1, NULL, NULL)
INSERT [dbo].[РолиПользователей] ([ID_РолиПользователи], [пользователи_ID], [роли_ID], [направление_ID], [мероприятие_ID]) VALUES (2, 2, 1, NULL, NULL)
INSERT [dbo].[РолиПользователей] ([ID_РолиПользователи], [пользователи_ID], [роли_ID], [направление_ID], [мероприятие_ID]) VALUES (3, 3, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[РолиПользователей] OFF
GO
SET IDENTITY_INSERT [dbo].[Страны] ON 

INSERT [dbo].[Страны] ([ID_Страны], [Название страны], [Английское название], [Код]) VALUES (4, N'Афганистан', N'Afghanistan', N'AF')
INSERT [dbo].[Страны] ([ID_Страны], [Название страны], [Английское название], [Код]) VALUES (8, N'Албания', N'Albania', N'AL')
INSERT [dbo].[Страны] ([ID_Страны], [Название страны], [Английское название], [Код]) VALUES (10, N'Антарктида', N'Antarctica', N'AQ')
GO
SET IDENTITY_INSERT [dbo].[Страны] OFF
GO
ALTER TABLE [dbo].[Активности]  WITH CHECK ADD  CONSTRAINT [FK_Активности_АктивностиЖюри] FOREIGN KEY([АктивностиЖюри_ID])
REFERENCES [dbo].[АктивностиЖюри] ([ID_АктивностьЖюри])
GO
ALTER TABLE [dbo].[Активности] CHECK CONSTRAINT [FK_Активности_АктивностиЖюри]
GO
ALTER TABLE [dbo].[Активности]  WITH CHECK ADD  CONSTRAINT [FK_Активности_МероприятияИнформационнаяБезопасность] FOREIGN KEY([Мероприятие_ID])
REFERENCES [dbo].[МероприятияИнформационнаяБезопасность] ([ID_событие])
GO
ALTER TABLE [dbo].[Активности] CHECK CONSTRAINT [FK_Активности_МероприятияИнформационнаяБезопасность]
GO
ALTER TABLE [dbo].[Активности]  WITH CHECK ADD  CONSTRAINT [FK_Активности_Пользователи] FOREIGN KEY([Модератор_ID])
REFERENCES [dbo].[Пользователи] ([ID_пользователи])
GO
ALTER TABLE [dbo].[Активности] CHECK CONSTRAINT [FK_Активности_Пользователи]
GO
ALTER TABLE [dbo].[АктивностиЖюри]  WITH CHECK ADD  CONSTRAINT [FK_АктивностиЖюри_Пользователи_Жюри1] FOREIGN KEY([Жюри_1])
REFERENCES [dbo].[Пользователи] ([ID_пользователи])
GO
ALTER TABLE [dbo].[АктивностиЖюри] CHECK CONSTRAINT [FK_АктивностиЖюри_Пользователи_Жюри1]
GO
ALTER TABLE [dbo].[АктивностиЖюри]  WITH CHECK ADD  CONSTRAINT [FK_АктивностиЖюри_Пользователи_Жюри2] FOREIGN KEY([Жюри_2])
REFERENCES [dbo].[Пользователи] ([ID_пользователи])
GO
ALTER TABLE [dbo].[АктивностиЖюри] CHECK CONSTRAINT [FK_АктивностиЖюри_Пользователи_Жюри2]
GO
ALTER TABLE [dbo].[АктивностиЖюри]  WITH CHECK ADD  CONSTRAINT [FK_АктивностиЖюри_Пользователи_Жюри3] FOREIGN KEY([Жюри_3])
REFERENCES [dbo].[Пользователи] ([ID_пользователи])
GO
ALTER TABLE [dbo].[АктивностиЖюри] CHECK CONSTRAINT [FK_АктивностиЖюри_Пользователи_Жюри3]
GO
ALTER TABLE [dbo].[АктивностиЖюри]  WITH CHECK ADD  CONSTRAINT [FK_АктивностиЖюри_Пользователи_Жюри4] FOREIGN KEY([Жюри_4])
REFERENCES [dbo].[Пользователи] ([ID_пользователи])
GO
ALTER TABLE [dbo].[АктивностиЖюри] CHECK CONSTRAINT [FK_АктивностиЖюри_Пользователи_Жюри4]
GO
ALTER TABLE [dbo].[АктивностиЖюри]  WITH CHECK ADD  CONSTRAINT [FK_АктивностиЖюри_Пользователи_Жюри5] FOREIGN KEY([Жюри_5])
REFERENCES [dbo].[Пользователи] ([ID_пользователи])
GO
ALTER TABLE [dbo].[АктивностиЖюри] CHECK CONSTRAINT [FK_АктивностиЖюри_Пользователи_Жюри5]
GO
ALTER TABLE [dbo].[МероприятияИнформационнаяБезопасность]  WITH CHECK ADD  CONSTRAINT [FK_Мероприятия_Направления] FOREIGN KEY([направление_ID])
REFERENCES [dbo].[Направления] ([ID_направление])
GO
ALTER TABLE [dbo].[МероприятияИнформационнаяБезопасность] CHECK CONSTRAINT [FK_Мероприятия_Направления]
GO
ALTER TABLE [dbo].[МероприятияИнформационнаяБезопасность]  WITH CHECK ADD  CONSTRAINT [FK_МероприятияИнформационнаяБезопасность_Города] FOREIGN KEY([город])
REFERENCES [dbo].[Города] ([ID_город])
GO
ALTER TABLE [dbo].[МероприятияИнформационнаяБезопасность] CHECK CONSTRAINT [FK_МероприятияИнформационнаяБезопасность_Города]
GO
ALTER TABLE [dbo].[МероприятияИнформационнаяБезопасность]  WITH CHECK ADD  CONSTRAINT [FK_МероприятияИнформационнаяБезопасность_Мероприятия] FOREIGN KEY([мероприятия_ID])
REFERENCES [dbo].[Мероприятия] ([ID_мероприятия])
GO
ALTER TABLE [dbo].[МероприятияИнформационнаяБезопасность] CHECK CONSTRAINT [FK_МероприятияИнформационнаяБезопасность_Мероприятия]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Роли] FOREIGN KEY([роли_ID])
REFERENCES [dbo].[Роли] ([ID_Роли])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Роли]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Страны] FOREIGN KEY([страны_ID])
REFERENCES [dbo].[Страны] ([ID_Страны])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Страны]
GO
ALTER TABLE [dbo].[РолиПользователей]  WITH CHECK ADD  CONSTRAINT [FK_РолиПользователей_Мероприятия] FOREIGN KEY([мероприятие_ID])
REFERENCES [dbo].[Мероприятия] ([ID_мероприятия])
GO
ALTER TABLE [dbo].[РолиПользователей] CHECK CONSTRAINT [FK_РолиПользователей_Мероприятия]
GO
ALTER TABLE [dbo].[РолиПользователей]  WITH CHECK ADD  CONSTRAINT [FK_РолиПользователей_МероприятияИБ] FOREIGN KEY([мероприятие_ID])
REFERENCES [dbo].[МероприятияИнформационнаяБезопасность] ([ID_событие])
GO
ALTER TABLE [dbo].[РолиПользователей] CHECK CONSTRAINT [FK_РолиПользователей_МероприятияИБ]
GO
ALTER TABLE [dbo].[РолиПользователей]  WITH CHECK ADD  CONSTRAINT [FK_РолиПользователей_Направления] FOREIGN KEY([направление_ID])
REFERENCES [dbo].[Направления] ([ID_направление])
GO
ALTER TABLE [dbo].[РолиПользователей] CHECK CONSTRAINT [FK_РолиПользователей_Направления]
GO
ALTER TABLE [dbo].[РолиПользователей]  WITH CHECK ADD  CONSTRAINT [FK_РолиПользователей_Пользователи] FOREIGN KEY([пользователи_ID])
REFERENCES [dbo].[Пользователи] ([ID_пользователи])
GO
ALTER TABLE [dbo].[РолиПользователей] CHECK CONSTRAINT [FK_РолиПользователей_Пользователи]
GO
ALTER TABLE [dbo].[РолиПользователей]  WITH CHECK ADD  CONSTRAINT [FK_РолиПользователей_Роли] FOREIGN KEY([роли_ID])
REFERENCES [dbo].[Роли] ([ID_Роли])
GO
ALTER TABLE [dbo].[РолиПользователей] CHECK CONSTRAINT [FK_РолиПользователей_Роли]
GO
USE [master]
GO
